/* Mobile */

@media screen and (max-width: 767px) {

  div{
    display: flex;
    flex-direction: column;
  }

  #mobile-50 {
    display: flex;
    flex-flow: row wrap;
  }

  #a, #b, #c, #d, #i {
    width: 100%;
  }

  #e, #f, #g, #h {
    width: 50%;
    height: 240px;
    line-height: 240px;
  }

  #a {
    height: 75px;
    line-height: 75px;
  }

  #b {
    height: 150px;
    line-height: 150px;
  }

  #c, #d {
    height: 125px;
    line-height: 125px;
  }

  #i {
    height: 80px;
    line-height: 80px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {

  #lower-section {
    display: flex;
    flex-direction: row;
  }
  #right-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #a {
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  #b {
    width: 20.8333%;
    height: 600px;
    line-height: 600px;
  }

  #c-d {
    display: flex;
    flex-direction: row;
  }
  #c, #d {
    width: 50%;
    height: 200px;
    line-height: 200px;
  }

  #mobile-50 {
    display: flex;
    flex-direction: row;
  }
  #e, #f, #g, #h {
    width: 25%;
    height: 250px;
    line-height: 250px;
  }
  #i {
    width: 100%;
    height: 150px;
    line-height: 150px;
  }
}

