/* Mobile */

@media screen and (max-width: 767px) {

  #a {
  background-color: rgb(218, 114, 114)
  }
  #b {
  background-color: rgb(161, 161, 228)
  }
  #c {
  background-color: rgb(245, 245, 146)
  }
  #d {
  background-color: rgb(111, 209, 111)
  }
  #e {
  background-color: rgb(97, 86, 86)
  }
  #f {
  background-color: rgb(238, 162, 22)
  }
  #g {
  background-color: cadetblue
  }
  #h {
  background-color: deepskyblue
  }
  #i {
  background-color: olive
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 960px) {
  #a {
    background-color: yellowgreen;
  }
  #b {
    background-color: aqua;
  }
  #c {
    background-color: darksalmon;
  }
  #d {
    background-color: burlywood;
  }
  #e {
    background-color: cornflowerblue;
  }
  #f {
    background-color: lightgreen;
  }
  #g {
    background-color: goldenrod;
  }
  #h {
    background-color: indianred
  }
  #i {
    background-color: darkorchid;
  }
}

/* Desktop */

@media screen and (min-width: 961px) {
  #a {
    background-color: rgb(78, 78, 7);
  }
  #b {
    background-color: rgb(29, 83, 83);
  }
  #c {
    background-color: rgb(59, 19, 5);
  }
  #d {
    background-color: rgb(89, 89, 131);
  }
  #e {
    background-color: rgb(1, 25, 68);
  }
  #f {
    background-color: rgb(5, 83, 5);
  }
  #g {
    background-color: rgb(97, 25, 25);
  }
  #h {
    background-color: rgb(87, 56, 56);
  }
  #i {
    background-color: rgb(72, 50, 83);
  }
}
